<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
    <head>  
        <title>Reset Password</title>  
    </head>  
    <body>
        <center>
            <h2>Enter new password:</h2>
            <form action="#" th:action="@{/reset-password}" th:object="${passwordResetForm}" method="post">  
                <table>  
                              
                    <tr>  
                        <td><label for="password">Password</label></td>  
                        <td><input th:field="*{password}" type="password" name="password"></input></td>  
                    </tr>  
                    <tr>  
                        <td><input type="reset" value="Clear"/></td>  
                        <td><input type="submit" value="Submit"></input></td>  
                    </tr>
                   
                </table>  
                 <input type="hidden" name="token" th:value="${token}" />  
            </form> 
        </center> 
        <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    </body>  
</html>  
